:root {
  --primary-color: #63DF01;
  --dark-color: #109619;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}


a {
  color: black;
  text-decoration: none;
}